<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ipp.estg.seniorsafety">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".medicamentos.LinedEditText"></activity>
        <activity android:name=".medicamentos.alarmeSMS.AlarmMedicationSMS" />
        <activity android:name=".medicamentos.alarme.MainActivityAlarm" />
        <activity android:name=".medicamentos.PlanoTomas" />
        <activity android:name=".medicamentos.PaginaInicial_Medicamentos" />
        <activity android:name=".medicamentos.MedicamentoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".mapa.MapaActivity" />
        <activity android:name=".DetetorQuedas.SettingsActivity" />
        <activity android:name=".DetetorQuedas.Contact" />
        <activity android:name=".DetetorQuedas.Verification" />
        <activity android:name=".DetetorQuedas.AccelerometerReader" />
        <activity android:name=".DetetorQuedas.MainActivity" />
        <activity android:name=".jogoMatematica.JogoMActivity" />
        <activity android:name=".jogoMatematica.MenuJogoMatematica" />
        <activity android:name=".MenuLapsosMemoria" />
        <activity android:name=".jogoForca.Replace" />
        <activity android:name=".jogoForca.Palavras" />
        <activity android:name=".jogoForca.MenuJogoForca" />
        <activity android:name=".jogoForca.JogoFActivity" />
        <activity android:name=".Perfil" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegistoActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".medicamentos.alarme.AlertReceiver" />
    </application>

</manifest>